@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/fonts";
@import "./Composants/buttons";
@import "./Layout/footer";


body{
    margin: auto;
}

//MARGINS PADDINGS//
header, #explore, #fonctionnement, #restaurants, footer{
    padding: 0 1.2rem;
}

#map, #explore, #containerRestaurants{
    display: flex;
}

#explore, #containerRestaurants{
    flex-direction: column;
    align-items: center;
}

//COLORS//
.sections__background--color{
    background-color: darken(#fff, 5);
}

                        // ALL //
header{
    padding: 1rem 1.2rem 0.5rem 1.2rem;
    img{
        height: 2em;
    }
}

#map{
    background-color: darken(#fff, 10);
    color: lighten(#000, 20);
    align-items: center;
    justify-content: center;
    i{
        position: absolute;
        left: 150px;
    }
}

header, #explore{
    text-align: center;
}




                        //FONCTIONNEMENT//
#fonctionnement{
    div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: $shadow;
        border-radius: 1rem;
    }

    p{
        background-color: map-get($colors, primary);
        color: #fff;
        border-radius: 2em;
        padding: 0.1em 0.4em;
        position: absolute;
        left: 10px;
    }

    h2{
        width: 13.5rem;
    }
}

#fonctionnementDegustez{
    background-color: lighten(map-get($colors, primary), 35);   //NON EFFECTIVE, TO CORRECT PLS//
    i{
        color: map-get($colors, primary);
    }
}

                        //RESTAURANTS//
 
#restaurants{ 
   a{
       @include links;
    }
    figure{
        margin: 0 0 1.2rem 0;
        width: $img-width;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: $shadow;
        background-color: #fff;
    }
    img{
        width: $img-width;
        height: 175px;
        object-fit: cover;
    }
}    


figure{
    position: relative;
    div{
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: 1fr 1fr;
        line-height: 0;             //pas moins possible, dommage//
        padding: 0.5rem;
    }

    i{
        grid-column: 2;
        grid-row: 1/3;
        display: flex;
        align-self: center;
    }


}

.figure__nouveau--looksPosition{
    background-color: map-get($colors, tertiary);
    color: darken(map-get($colors, tertiary), 40);
    padding: 0.3rem 0.5rem;
    border-radius: 0.15rem;
    font-size: 0.9em;
    position: absolute;
    right: 14px;
    top: 14px;
}
 

