//FOOTER//
footer{
    @extend %flex-align;
    flex-direction: column;
    background-color: lighten(#000, 20);
    color: #fff;
    h3, ul{
        width: $content-width;
    }
    a{
        @include links(#fff);
    }

    h3{
        font-family: 'shrikhand';
        font-size: map-get($font-size, M);
        font-weight: normal;
        margin: 0;
    }

    ul{
        padding: 0;
    }

    li{
        list-style: none;
    }

    i{
        object-fit: contain;
        margin-right: 0.5rem;
        font-size: map-get($icon-size, S);
    }

    .fa-hands-helping{
        font-size: map-get($icon-size, XS);
    }
}