//FOOTER//
footer{
    @extend %flex-align;
    flex-direction: column;
    background-color: lighten(#000, 20);
    color: #fff;
    padding: 1.25rem 0;
    //pour maintenir le contenu au centre sans étalement//
    h3, ul{
        width: map-get($welcomePageWidths, base);
        @include mediaTablet{
            width: map-get($welcomePageWidths, tablet);
        }
    }
    a{
        @include links(#fff);
    }

    h3{
        font-family: 'shrikhand';
        font-size: map-get($font-size, M);
        font-weight: normal;
        margin: 0;
    }

    ul{
        padding: 0;
    }

    li{
        list-style: none;
        line-height: 1.5rem;
    }

    i{
        object-fit: contain;
        margin-right: 0.5rem;
        font-size: map-get($icon-size, S);
    }

    .fa-hands-helping{
        font-size: map-get($icon-size, XS);
    }
}