@keyframes spinner {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(5turns);
  }
  100% {
    transform: rotate(5turn);
  }
}
@keyframes fill_heart {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes thin_heart {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.dishChecked, #sectionMenu, footer, #restaurants, #containerFonctionnement h2, #containerFonctionnement i, #fonctionnement, #mapExplore #explore, #mapExplore #map div, #mapExplore #map {
  display: flex;
  align-items: center;
}

#mapExplore #explore {
  flex-direction: column;
}

body {
  font-family: "roboto", Georgia, sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2, h3, p, button, li {
  font-size: 1.1em;
}

#sectionMenu div div p, #map p {
  font-size: 0.9em;
}

.font--thin {
  font-family: "roboto";
  font-weight: lighter;
}

figure i {
  font-size: 1.5em;
}

body {
  margin: auto;
  width: 100%;
}
@media screen and (min-width: 70em) {
  body {
    max-width: 90rem;
    box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.2);
  }
}

.sections__background--color {
  background-color: #f2f2f2;
}

#loading {
  background-color: rgba(51, 51, 51, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  animation: loading 1.5s;
}

@keyframes loading {
  from {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}
.spinner {
  font-size: 8em;
  color: #99E2D0;
  animation: spinner 1.5s 0.05s cubic-bezier(0.42, 0.19, 0.52, 0.46);
}

header {
  padding: 0.7rem;
  text-align: center;
}
header img {
  width: 10em;
}

#mapExplore #map {
  background-color: #ebebeb;
  color: #333333;
  justify-content: center;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
#mapExplore #map div {
  width: 10em;
}
#mapExplore #map i {
  margin-right: 1em;
}
#mapExplore #explore {
  text-align: center;
}
#mapExplore #explore h1 {
  width: 18rem;
  margin-bottom: 0;
}
@media screen and (min-width: 50em) {
  #mapExplore #explore h1, #mapExplore #explore p {
    width: 40rem;
  }
}

#fonctionnement {
  flex-direction: column;
}
#fonctionnement h1 {
  width: 18rem;
}
@media screen and (min-width: 70em) {
  #fonctionnement h1 {
    width: 65rem;
  }
}

#containerFonctionnement {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.5em;
  width: 18rem;
}
@media screen and (min-width: 70em) {
  #containerFonctionnement {
    width: 65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#containerFonctionnement div {
  width: 18rem;
  display: grid;
  grid-template-columns: 25% 80%;
  box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.2);
  border-radius: 1em 1em 1em 1em;
  padding: 0.5rem 0 0.5rem 0.5em;
  position: relative;
}
#containerFonctionnement p {
  background-color: #9356DC;
  color: #fff;
  border-radius: 2em 2em 2em 2em;
  padding: 0.1em 0.45em;
  position: absolute;
  top: 4px;
  left: -10px;
}
#containerFonctionnement i {
  font-size: 1.25em;
  color: gray;
  justify-content: center;
}
#fonctionnementDegustez {
  background-color: #f2eafb;
}
#fonctionnementDegustez i {
  color: #9356DC;
}

#restaurants {
  flex-direction: column;
}
@media screen and (min-width: 70em) {
  #restaurants {
    background-color: #fff;
  }
}
#restaurants h1 {
  width: 18rem;
}
@media screen and (min-width: 50em) {
  #restaurants h1 {
    width: 40rem;
  }
}
@media screen and (min-width: 70em) {
  #restaurants h1 {
    width: 65rem;
  }
}
@media screen and (min-width: 50em) {
  #restaurants #containerRestaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40rem;
  }
}
@media screen and (min-width: 70em) {
  #restaurants #containerRestaurants {
    width: 65rem;
  }
}
#restaurants figure {
  margin: 0 0 1.2rem 0;
  width: 18rem;
  border-radius: 1em 1em 1em 1em;
  overflow: hidden;
  box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: relative;
}
@media screen and (min-width: 50em) {
  #restaurants figure {
    margin: 0 0 1.5rem 0;
  }
}
#restaurants figure a {
  color: #000;
  text-decoration: none;
}
#restaurants figure div {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 1fr;
  line-height: 0;
  padding: 0.6rem;
}
#restaurants figure .figure__hearts {
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  align-items: center;
}
#restaurants figure .figure__hearts .fas {
  position: absolute;
  color: transparent;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  opacity: 0;
}
#restaurants figure .figure__hearts:hover .fas, #restaurants figure .figure__hearts:active .fas {
  animation: fill_heart 0.3s 0.05s both ease-out;
}
#restaurants figure .figure__hearts:hover .far, #restaurants figure .figure__hearts:active .far {
  animation: thin_heart 0.3s 0.05s forwards;
}
#restaurants figure h2, #restaurants figure p {
  margin: 0.8rem 0;
}
#restaurants figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.div--padding {
  padding: 1.5rem 0 3rem 0;
}

button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 2em 2em 2em 2em;
  box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 14rem;
  height: 3rem;
  margin-top: 1rem;
}
button:hover {
  box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
}

.figure__nouveau--looksPosition {
  background-color: #99E2D0;
  color: #278870;
  padding: 0.3rem 0.5rem;
  border-radius: 0.15em 0.15em 0.15em 0.15em;
  font-size: 0.9em;
  position: absolute;
  top: 14px;
  right: 14px;
}

footer {
  flex-direction: column;
  background-color: #333333;
  color: #fff;
  padding: 1.25rem 0;
}
footer h3, footer ul {
  width: 18rem;
}
@media screen and (min-width: 50em) {
  footer h3, footer ul {
    width: 40rem;
  }
}
@media screen and (min-width: 70em) {
  footer h3, footer ul {
    width: 65rem;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer h3 {
  font-family: "shrikhand";
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
}
footer ul {
  padding: 0;
}
@media screen and (min-width: 70em) {
  footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
footer li {
  list-style: none;
  line-height: 1.5rem;
}
footer i {
  object-fit: contain;
  margin-right: 0.5rem;
  font-size: 0.9em;
}
footer .fa-hands-helping {
  font-size: 0.6em;
}

#headerMenu {
  display: flex;
  justify-content: center;
}
#headerMenu div {
  width: 19rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 50em) {
  #headerMenu div {
    width: 45rem;
  }
}
@media screen and (min-width: 70em) {
  #headerMenu div {
    width: 65rem;
  }
}
#headerMenu div i {
  color: #333333;
  font-size: 1.2em;
}
#headerMenu div a {
  align-self: center;
  justify-self: flex-start;
}

#banner img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}
@media screen and (min-width: 50em) {
  #banner img {
    height: 320px;
  }
}
@media screen and (min-width: 70em) {
  #banner img {
    height: 355px;
  }
}

#sectionMenu {
  border-radius: 2em 2em 2em 2em;
  flex-direction: column;
  position: relative;
  top: -50px;
  background-color: #f7f7f7;
  padding-bottom: 2em;
}
#sectionMenu #headSectionMenu {
  display: grid;
  grid-template-columns: 6fr 1fr;
  width: 19rem;
}
@media screen and (min-width: 70em) {
  #sectionMenu #headSectionMenu {
    width: 65rem;
    grid-template-columns: 40% 5%;
  }
}
#sectionMenu #headSectionMenu h1 {
  font-family: "shrikhand";
  font-size: 1.5em;
  font-weight: normal;
}
#sectionMenu #headSectionMenu .figure__hearts {
  align-self: center;
  font-size: 1.5em;
  position: relative;
}
#sectionMenu #headSectionMenu .figure__hearts .fas {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  color: transparent;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  opacity: 0;
}
#sectionMenu #headSectionMenu .figure__hearts:hover .fas, #sectionMenu #headSectionMenu .figure__hearts:active .fas {
  animation: fill_heart 0.3s 0.05s both ease-out;
}
#sectionMenu #headSectionMenu .figure__hearts:hover .far, #sectionMenu #headSectionMenu .figure__hearts:active .far {
  animation: thin_heart 0.3s 0.05s forwards;
}
@media screen and (min-width: 70em) {
  #sectionMenu #headSectionMenu {
    font-size: 2em;
  }
}
@media screen and (min-width: 50em) {
  #sectionMenu #containerMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 70em) {
  #sectionMenu #containerMenu {
    width: 65rem;
    flex-direction: column;
  }
}

.menu__categories {
  margin-bottom: 2em;
}
.menu__categories h2 {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 2.5em;
  padding-bottom: 0.3rem;
}
@media screen and (min-width: 70em) {
  .menu__categories h2 {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 70em) {
  .menu__categories__container {
    width: 65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.dishAndCheck {
  display: flex;
}

.menu__categories__dish {
  background: #fff;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.1);
  margin-bottom: 0.7em;
  padding: 0.5rem;
  line-height: 1.5em;
  width: 19rem;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: repeat(2, 1.5em);
}
.menu__categories__dish * {
  margin: 0;
}
.menu__categories__dish p {
  grid-row: 2/3;
}
.menu__categories__dish .text--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.4s 0.1s;
  border: 1px solid black;
}
.menu__categories__dish .dish__price {
  transition: all 0.4s 0.1s;
}
.menu__categories__dish:hover .dish__price {
  color: pink;
  transform: translateX(-4em);
  text-transform: uppercase;
}

.dishChecked {
  background-color: #99E2D0;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 0 1em 1em 0;
  visibility: visible;
  transition-timing-function: ease-in-out;
  transition: all 0.4s 0.1s;
}
.dishChecked i {
  color: #99E2D0;
  border-radius: 1em 1em 1em 1em;
  background-color: #fff;
  padding: 0.2rem;
  font-size: 1em;
}
.dishChecked:hover {
  transform: translateX(-4em);
}
.dishChecked:hover i {
  transform: rotate(1turn);
  transition: all 0.4s 0.1s;
}

#buttonMenu {
  background-color: #f7f7f7;
  margin-top: -100px;
  padding: 3rem 0 4rem 0;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
