button{
    background-color: map-get($colors, secondary);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgba(#000000, 0.2);
    padding: 0.8rem 0.8rem;
    color: white;
    min-width: 10em;
}