.figure__nouveau--looksPosition{
    background-color: $tertiary;
    @include color-darken($tertiary, 40);
    padding: 0.3rem 0.5rem;
    @include radius($N-W: .15em, $N-E: .15em, $S-E: .15em, $S-W: .15em);
    font-size: map-get($font-size, XS);
    @include position($top: 14px, $right: 14px);
}

.div--padding{
    padding: 1.5rem 0 3rem 0;
}

.sections__background--color{
    @include back_darken($degree: 5);
}