@font-face
{
    font-family: 'shrikhand';
    src: url(../fonts/shrikhand/Shrikhand-Regular.otf)
}

@font-face
{
    font-family: 'robotoThin';
    src: url(../fonts/roboto/Roboto-Thin.ttf)
}

@font-face
{
    font-family: 'robotoRegular';
    src: url(../fonts/roboto/Roboto-Regular.ttf)
}

@font-face
{
    font-family: 'robotoMedium';
    src: url(../fonts/roboto/Roboto-Medium.ttf)
}

//POLICES & TAILLES//
body{
    font-family: 'robotoRegular';
}

h1{
    font-size: map-get($font-size, L);
    font-family: 'robotoMedium';
}

h2, p, button, li{
    font-size: map-get($font-size, M);
}

p{
    font-family: 'robotoThin';
}

figure i{
    font-size: map-get($font-size, L);
}
