//POLICES & TAILLES TEXTES//
body{
    font-family: 'roboto', Georgia, sans-serif;
}

h1{
    font-size: map-get($font-size, L);
}

h2, h3, p, button, li{
    font-size: map-get($font-size, S);
}

//Classe div A INSTALLER//
#sectionMenu div div p, #map p{
    font-size: map-get($font-size, XS);
}

.font--thin{
    font-family: 'roboto';
    font-weight: lighter;
}

//TAILLES ICONES//
figure i{
    font-size: map-get($font-size, L);
}