//POLICES & TAILLES TEXTES//
body{
    font-family: 'roboto', Georgia, sans-serif;
}

h1{
    font-size: map-get($font-size, L);
}

footer h3{
    font-size: map-get($font-size, M);
}

h2, h3, p, button, li{
    font-size: map-get($font-size, S);
}

.menu__categories__dish p, #map p{
    font-size: map-get($font-size, XS);
}

.font--thin{
    //family needed even if by default otherwise the "lighter" effect doesn't work
    font-family: 'roboto';
    font-weight: lighter;
}