#headerMenu{
    @include flex-center($align: null);
    div{
        width: map-get($pageWidths, base);
        @include flex-center($align: null);
        @include mediaTablet{
            width: map-get($pageWidths, menuTablet);
        }
        @include mediaLaptop{
            width: map-get($pageWidths, laptop);
        }
        i{
            @include color_darken($degree: 80);
            font-size: map-get($font-size, M);
        }
        a{
            align-self: center;
            justify-self: flex-start;
        }
    }
}

#banner{
    img{
        @include img_sizing($height: 255px);
        @include mediaTablet{
            height: 320px;
        }
        @include mediaLaptop{
            height: 355px;
        } 
    }
}

//ENTIRE MENU
#sectionMenu{
    @include radius($N-W: 2em, $N-E: 2em, $S-E: 2em, $S-W: 2em);
    @include flex-dir-align;
    @include position($type: relative, $top: -50px);
    @include back_darken($degree: 3);
    padding-bottom: 2em;
    //TITLE MENU
    #restaurantName{
        display: grid;
        grid-template-columns: 85% 9%;
        width: map-get($pageWidths, base);
        @include mediaTablet{
            font-size: map-get($font-size, L);
            width: map-get($pageWidths, menuTablet);
            grid-template-columns: 70% 5%;
        }
        @include mediaLaptop{
            width: map-get($pageWidths, laptop);
        }
        h1{
            @include shrikhand;
            text-align: center;
        }
        .figure__hearts{
            align-self: center;
            font-size: map-get($font-size, L);
            position: relative;
            .fas{
                @include position($top: 3px, $bottom: 0, $left: 0, $right: 0);
                @include text-gradient;
                opacity: 0;
            }
            &:hover, &:active{
                .fas{
                    animation: fill_heart $heart-time $heart-delay both ease-out;
                }
                .far{
                    animation: thin_heart $heart-time $heart-delay forwards;
                }
            }
        }
        @include mediaLaptop{
            font-size: map-get($font-size, XL);
        }
    }
    //categories
    #containerMenu{
        @include mediaTablet{
            width: map-get($pageWidths, menuTablet);
            @include flex-wrap($justify: space-around);
        }
        @include mediaLaptop{
            width: map-get($pageWidths, laptop);
            flex-direction: column;
        }
    } 
}



//categories && all dishes
.menu__categories{
    margin-bottom: 2em;
    animation: dish_appearance $appearance-time $appearance-delay backwards;
    h2{
        text-transform: uppercase;
        border-bottom: 3px solid $tertiary;
        width: 2em; //deals with the border, text in overflow//
        padding-bottom: 0.3rem;
        @include mediaLaptop{
            margin-bottom: 1rem;
        }
    }
    &__container{
        @include mediaLaptop{
            width: map-get($pageWidths, laptop);
            @include flex-wrap;
        }
    }
    &__dish{
        position: relative;
        background: #fff;
        @include radius;
        @include box-shadow(0.1);
        margin-bottom: 0.7em;
        padding: 0.5rem;
        line-height: 1.5em;
        width: map-get($pageWidths, base);
        @include flex-wrap;
        overflow: hidden;
        animation: dish_appearance $appearance-time backwards;
        @for $i from 1 through 3{
            &--#{$i}{
                animation-delay: $appearance-delay * $i;
            }
        }
        *{
            margin: 0;
        }
        h3{
            @include anim-ellipsis;
        }
        .text--ellipsis{
            @include anim-ellipsis(85%);
        }
        &:hover .text--ellipsis, &:hover h3, &:active .text--ellipsis, &:active h3{
            transform: width;
            width: 65%;
        }
        .dish__price{
            @include slide;
            margin-right: 1rem;
        }
        .dishChecked{
            @include position($type: absolute, $top: 0, $right: -4em);
            background-color: $tertiary;
            @include flex-center;
            width: 4em;
            height: 4em;
            @include radius($N-W: 0, $N-E: 1em, $S-E: 1em, $S-W: 0);
            @include slide;
            i{
                color: $tertiary;
                @include radius;
                background-color: #fff;
                padding: 0.2rem;
                font-size: map-get($font-size, S);
            }
        }
        //check & price slides of the dish when hover or active
        &:hover .dish__price, &:active .dish__price, &:hover .dishChecked, &:active .dishChecked{
            transform: translateX(-4em);
            i{
                animation: turn $slide-time $slide-delay ease-in-out;
            }
        }
    }
}

