header{
    i{
        color: lighten(#000, 20);
        align-self: center;
    }
}

#banner{
    img{
        width: 375px;
        height: 255px;
        object-fit: cover;
    }
}

#sectionMenu{
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -50px;
    width: 375px;
    background-color: darken(#fff, 3);
    header{
        width: 335px;
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-family: 'shrikhand';
        font-size: map-get($font-size, XL);
        font-weight: normal;
    }
    h2{
        text-transform: uppercase;
    }
    h2 + p{
        margin-top: -1.5rem;
        color: map-get($colors, tertiary);
        font-family: 'robotoRegular';
        text-shadow: 0 1px 0 map-get($colors, tertiary);
    }
}

#sectionMenu div{
    margin-bottom: 1em;
    div{
        background: #fff;
        border-radius: 1rem;
        box-shadow: $shadow;
        width: 350px;
        line-height: 0.5rem;
        margin-bottom: 0.7em;
    }
}

//inclure button dans section et align center everything//