#headerMenu{
    display: flex;
    justify-content: center;
    div{
        width: map-get($menuPageWidths, base);
        display: flex;
        justify-content: center;
        @include mediaTablet{
            width: map-get($menuPageWidths, tablet);
        }
        @include mediaLaptop{
            width: map-get($menuPageWidths, laptop);
        }
        i{
            @include color_darken($degree: 80);
            font-size: 1.2em;
        }
        a{
            align-self: center;
            justify-self: flex-start;
        }
    }
}

#banner{
    img{
        @include img_sizing($height: 255px);
        @include mediaTablet{
            height: 320px;
        }
        @include mediaLaptop{
            height: 355px;
        } 
    }
}

//ENTIRE MENU
#sectionMenu{
    border-radius: 2rem 2rem 0 0;
    @extend %flex-align;
    flex-direction: column;
    position: relative;
    top: -50px;
    @include back_darken($degree: 3);
    //TITLE MENU
    #headSectionMenu{
        display: grid;
        grid-template-columns: 6fr 1fr;
        width: map-get($menuPageWidths, base);
        @include mediaLaptop{
            width: map-get($menuPageWidths, laptop);
            grid-template-columns: 25% 1fr;
        }
        h1{
            font-family: 'shrikhand';
            font-size: map-get($font-size, XL);
            font-weight: normal;
        }
        i{
            align-self: center;
            font-size: map-get($icon-size, XL);
            color: #000;
            //text-shadow: $heart-border;  //contour précis du coeur côté par côté//
            transition: color 0.4s;
            &:hover, &:active{
                color: transparent;
                background: linear-gradient(to bottom right, $secondary, $primary);
                background-clip: text;
            }

            @include mediaLaptop{
                font-size: map-get($icon-size, XXL);
            }
        }
    }
    //categories = all divs, title included
    #containerMenu{
        @include mediaTablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @include mediaLaptop{
            width: map-get($menuPageWidths, laptop);
            flex-direction: column;
        }
    } 
}



//CATEGORIES && ALL DISHES
.menu__categories{
    margin-bottom: 1em;
    h2{
        text-transform: uppercase;
        border-bottom: 3px solid $tertiary;
        width: 2.5rem; //deals with the border, text in overflow//
        padding-bottom: 0.3rem;
        @include mediaLaptop{
            padding-bottom: 1rem;
        }
    }
    &__container{
        @include mediaLaptop{
            width: map-get($menuPageWidths, laptop);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

//div having visible div of the dish and sliding div when checked
.dishAndCheck{
    display: flex;
}

.menu__categories__dish{
    background: #fff;
    border-radius: map-get($radius, M);
    @include box-shadow(0.1);
    margin-bottom: 0.7em;
    padding: 0.5rem;
    line-height: 1.5em;
    width: map-get($menuPageWidths, base);
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: repeat(2, 1.5rem);
    *{
        margin: 0;
    }
    p{
        grid-row: 2/3;
    }
    .text--ellipsis{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: transform 0.4s 0.1s;
        border: 1px solid black;
    }

    .dish__price{
        transition: all 0.4s 0.1s;
    }
    //A CORRIGER AVEC LA BONNE CLASSE, ICI EN ATTENDANT TESTS
    &:hover .dish__price{
        color: pink;
        transform: translateX(-4em);
        text-transform: uppercase;
    }
}

.dishChecked{
    background-color: $tertiary;
    @extend %flex-align;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0 1rem 1rem 0;
    visibility: visible;
    transition-timing-function: ease-in-out;
    transition: all 0.4s 0.1s;
    i{
        color: $tertiary;
        border-radius: map-get($radius, M);
        background-color: #fff;
        padding: 0.2rem;
        font-size: map-get($icon-size, M);
    }
    &:hover{
        transform: translateX(-4em);
        i{
            
            transform: rotate(1turn);
            transition: all 0.4s 0.1s;

        }
    }
    
}

#buttonMenu{
    @include back_darken($degree: 3);
    margin-top: -50px;
    padding: 1rem 0 4rem 0;
    display: flex;
    justify-content: center;
}