//spinner
@keyframes spinner{
    0%{
        transform: rotate(0turn);
    }
    50%{
        transform: rotate(5turns);
    }
    100%{
        transform: rotate($turns);
    }
}
@keyframes loading{
    from{ 
        visibility: visible;
    }
    to{
        visibility: visible;
    }
}

//hearts filling and disappearing
@keyframes fill_heart{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes thin_heart{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

//progressive apparition of dishes
@keyframes dish_appearance{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

//ellipsis creation
@keyframes ellipsis{
    0%{
        width: 85%;
    }
    100%{
        width: 65%;
    }
}