@mixin links($color: #000, $text-decoration: none){
    color: $color;
    text-decoration: $text-decoration;
}

//MEDIA QUERIES
@mixin mediaTablet{
    @media screen and(min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin mediaLaptop{
    @media screen and(min-width: map-get($breakpoints, laptop)){
        @content;
    }
}

//background darken
@mixin back_darken($color: #fff, $degree: 3){
    background-color: darken($color, $degree);
}

//color lighten
@mixin color_darken($color: #fff, $degree: 3){
    color: darken($color, $degree);
}

@mixin box_shadow($opacity: 0.2){
    box-shadow: $shadow rgba(#000, $opacity);
}

@mixin radius($N-W: 1em, $N-E: 1em, $S-E: 1em, $S-W: 1em){
    border-radius: $N-W $N-E $S-E $S-W;
                //north west, north east, south east, south west
}

@mixin img_sizing($width: 100%, $height: 100%){
    width: $width;
    height: $height;
    object-fit: cover;
}

@mixin position($type: absolute, $top: null, $bottom: null, $left: null, $right: null){
    position: $type;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

//MIXINS FLEXBOX PLZ, placeholders to check
@mixin flex-center($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-wrap($wrap: wrap, $justify: space-between){
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin flex-dir-align($align: center){
    display: flex;
    flex-direction: column;
    align-items: $align;
}

@mixin ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin text-gradient{
    color: transparent;
    background: linear-gradient(to bottom right, $secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
}

@mixin shrikhand{
    font-family: 'shrikhand';
    font-weight: normal;
}