$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$font-size: (XL: 1.8em, L: 1.5em, M: 1.3em, S: 1.1em, XS: 0.9em);
$icon-size: (XXL: 2em, XL: 1.5em, L: 1.25em, M: 1em, S: 0.9em, XS: 0.6em); //cela a-t-il du sens? VOIR POUR MELT WITH FONT-SIZES

$logo-width: 10em;

$shadow: 0 0.3em 0.9em; //used in shadow's mixin

$breakpoints: (tablet: 50em, laptop: 70em);

//rassembler le 2 widths en 1
$welcomePageWidths: (base: 18rem, tablet: 40rem, laptop: 65rem);
$menuPageWidths: (base: 19rem, tablet: 45rem, laptop: 65rem);

//ANIMATIONS
//spinner
$spin-time: 1.5s;
$spin-delay: 0.05s;
$turns: 5turn;

//hearts
$heart-time: 0.3s;
$heart-delay: 0.05s;